
.navbar-brand {
	margin: 0px 10px;
	padding:0px;
	font-size: medium;
	
}
.carousel-caption {
	background-color: rgba(0, 0, 0, 0.308);
}
.bar2 {
	margin: 0px 20px;
	padding:5px;
}
h1 {
	font-family: "Sofia", sans-serif;
	font-size: 50px;
}
label {
	color: white;
	background-color: rgba(0, 0, 0, 0.473);
}
.card-item {
    width: 18rem;
    margin: 40px;
	padding: 5px;

}
.harga {
    color: rgb(255, 115, 0);
}
.book {
	background-color: rgba(179, 173, 173, 0.726);
}


.btn-group {
	margin: 40px, 10px;
	padding: 5px;
	color: white;
	background-color: rgba(91, 111, 199, 0.432);
}

.hastag {
	padding: 10px;
}
#daftar {
	padding: 20px;
}
.col-md-8 {
	font-size: 18px;
}
.card-body.text-muted{
	color:blue;
}
.col-md-5 .d-flex .btn {
	width: 160px;
	height: 35px;
}
.col-md-5 .d-flex .form-control {
	height: 35px;
}
.carousel-item img {
	width: 128px;
}
.carousel-item{
	text-align: center;
}
.card-item:hover {
	transform: translateY(-10px); /* Mengangkat card sedikit ke atas */
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Bayangan lebih besar */
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimony {
	object-position: center;
}
.promo .card {
	margin 10px;

}

footer {
	background-color: black;
	color:white;
}

.thead th {
	background-color: rgb(133, 130, 130);
}
#kontak h3 {
	background-color: rgb(0, 183, 255);
}

@media (max-width: 54rem;) {
	.card-item {
		width: 100%;
	}
}